<!-- ko with: home -->
<div class="jumbotron">
    <p class="lead">LIMEWare Test Client</p>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Welcome {{name}}</p> <input palceholder="type your name..." ng-model="name" name="name"/>
    </div>
</div>

<!-- /ko -->
